$primary: #1976D2;
$secondary: #26A69A;
$accent: #9C27B0;

$dark: #3a4149 !default;
$dark-page: #2f353a !default;
$separator-dark-color: #21282c !default;
$positive: #21BA45;
$negative: #C10015;
$info: #31CCEC;
$warning: #fce24e;

$grey: #23282c !default;
$grey-1: #2f353a !default;
$grey-2: #333a40 !default;
$grey-3: #3a4149 !default;
$grey-4: #73818f !default;
$grey-5: #8f9ba6 !default;
$grey-6: #acb4bc !default;
$grey-7: #c8ced3 !default;
$grey-8: #e6e9ec !default;
$red: #f52318 !default;


$typography-font-family: "OpenSans";